@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Lato:900");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
/*FONTS*/
/* COLOR PALLET */
/* Social Colors */
/* MEDIA QUERY BREAK POINTS */
/*Main Font-sizes*/
body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: initial;
}

nav a {
  text-decoration: none;
  color: inherit;
  color: white;
}

button {
  font-family: "Quicksand", sans-serif;
}

.button-input {
  transition: opacity 0.2s;
}

.disable {
  opacity: 0;
  transition: all 0.5s;
}

.btn-post {
  background-color: #222222;
  color: white;
  width: auto;
  min-height: 10px;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.btn-large {
  transition: all 0.2s;
  width: inherit;
  position: relative;
  top: 0px;
  width: 200px;
  background-color: #222222 !important;
}
.btn-large:active {
  position: relative;
  top: 3px;
}

.input-field input:focus {
  border-bottom: 1px solid #222222 !important;
  box-shadow: 0 1px 0 0 #222222 !important;
}
.input-field .active {
  color: #222222 !important;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

i {
  height: initial !important;
}

label {
  font-family: "Quicksand", sans-serif;
  width: initial !important;
}

.lato {
  font-family: "Lato", sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.logo {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 60px;
  line-height: 65px;
  font-family: "Lato", sans-serif;
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 37.5px;
    line-height: 40.625px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1257px) {
  h1 {
    font-size: 40px;
    line-height: 43.3333333333px;
  }
}

h2 {
  font-size: 30px;
  line-height: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 700px) {
  h2 {
    font-size: 26px;
    line-height: 20px;
  }
}

h3 {
  font-size: 25px;
  line-height: 30px;
  font-family: "Quicksand", sans-serif;
}
@media only screen and (max-width: 700px) {
  h3 {
    font-size: 14.7058823529px;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1257px) {
  h3 {
    font-size: 16.6666666667px;
  }
}

h4 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 100;
  font-family: "Quicksand", sans-serif;
  color: #efefef;
  color: #6f7780;
}

p {
  font-size: 18px;
  line-height: 23px;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
}
@media only screen and (max-width: 700px) {
  p {
    font-size: 14px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  width: fit-content;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #222222;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-family: "Quicksand", sans-serif !important;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  top: -15px;
  /* Fade in tooltip */
  opacity: 0;
  transition: all 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #222222 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  top: -30px;
}

.display_none {
  display: none !important;
}

strong {
  font-weight: bold;
}

.main_page {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.main_page .page {
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  margin: auto;
  background-color: #efefef;
}
.main_page .page section {
  position: relative;
}
.main_page .page section .divide {
  width: 50%;
  height: 100%;
  background-color: #f75b46;
}
.main_page .page section header {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
}
.main_page .page section header h1 {
  margin: 100px 0;
  text-align: right;
  font-size: 12rem;
  font-family: "Righteous", cursive;
  font-weight: 900;
  color: #222;
  position: relative;
}
.main_page .page section header .dot {
  margin: 30px 0;
  text-align: right;
  height: 65px;
  width: 65px;
  background-color: #222;
  display: inline-block;
  border-radius: 100px;
  border: 10px solid #efefef;
  position: absolute;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 1s linear alternate forwards;
}

svg {
  color: red;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*# sourceMappingURL=index.css.map */
