@import "global-variables.scss";


body {
    background-color:white; 
    overflow: hidden;
}

input {
    &::placeholder {
        color:#c34d4d;
        font-family: $quicksand;
        font-weight: 900;
    }
}

.message {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:10px;

    @include screen-size(small) {
        display: flex;
    }

    @include screen-size(kindasmall) {
        display: flex;
    }
}

canvas {
    display: none;

    @include screen-size(large) {
        display: initial;
    }

    @include screen-size(xlarge) {
        display: initial;
    }

    @include screen-size(iPadProLand) {
        display: initial;
    }

    @include screen-size(iPadLand) {
        display: initial;
    }

    @include screen-size(iPad) {
        display: initial;
    }
}

.startSimulation {
    background-color: white;
    position: absolute;
    left: 30px;
    top: 30px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    opacity: 0.1;
    font-size: 10px;
    transition: opacity 0.4s;

    &:hover {
        opacity: 1;
    }

    &:focus {
        background-color: white;
    }

    &:active {
        box-shadow: 0px 1px 0px rgb(160, 160, 160);
    }
}

.accordion {
    background-color: #222;
    color: #fff;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    height: 20px;
    line-height: 5px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-left: 1px solid #525252;
    border-top: 1px solid #525252;
    box-shadow: 0px 1px 1px #525252;
    position: relative;
    text-transform: lowercase;

    &:hover {
        background-color: rgb(51, 51, 51);
    }

    &:focus {
        background-color: rgb(51, 51, 51);
    }

    &:before {
        content: "";
        position: relative;
        top: -3px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotateZ(45deg);
        transition: all 0.2s;
        margin-right: 10px;
    }
}

.active {
    &:before {
        transform: rotateZ(-135deg);
        top:0px;
    }
}

.active,
.accordion:hover {
    // background-color: #ccc;
}

.panel {
    // padding: 0 18px;
    // display: none;
    max-height: 0;
    overflow: hidden;
    // width: 95%;
    transition: max-height 0.2s ease-out;
    border-left: 5px solid rgba(0, 0, 0, 0);

    .accordion {
        position: relative;
        width:100%;
        // left:10%;
        // border-left: 10px solid #23272e;
    }
}

.fpsCounter {
    // background-color: #c34d4d;
    position: absolute;
    bottom: 0;
    // left: 20px;
    padding:10px;
    color: #c34d4d;
    text-shadow: 0px 1px #c34d4d;
}

.particleControlContainer {
    // border:1px solid #222;
    display: none;
    padding:30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    // float: right;
    width: 20%;
    opacity: 0.2;
    transition: opacity 0.5s;

    .before {
        // content: "";
        background-color: red;
        border: 10px solid red;
        height: 20px;
        position: absolute;
        left: 11px;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: move;
    }

    @include screen-size(xlarge) {
        width: 20%;
        display: inline-block;
    }

    @include screen-size(large) {
        width: 20%;
        display: inline-block;
    }

    @include screen-size(iPadProLand) {
        width: 35%;
        display: inline-block;
    }

    @include screen-size(iPadLand) {
        width: 40%;
        display: inline-block;
    }

    @include screen-size(iPad) {
        width: 45%;
        display: inline-block;
    }



    &:hover {
        opacity: 1;
    }

    .particleControl {
        width: 100%;
        .inputsFields {
            // width: 50%;
            text-align: left;
            .setting {
                width: 100%;
                // margin: auto;
                display: block;
                background-color: white;
                // padding: 20px 0 20px 0;

                .property {
                    border-bottom: 1px solid #efefef;
                    padding: 0 10px 0 10px;
                    border-left: 5px solid #c34d4d;
                }

                .inputs {
                    text-align: left;
                    position: relative;
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    justify-content: center;
                    align-items: center;
                    .mouse_icon {
                        margin:13px 5px;
                        font-size: 10px;
                        color:#222;
                        cursor: pointer;
                    }
                    .mouse_icon_clicked {
                        color:#c34d4d;
                    }
                    span {
                        display: inline-block;
                        font-size:12px;
                    }
                    .input_vals {
                        display: flex;
                        // display: inline-block;
                        float: right;
                        span {
                            width: initial;
                        }
                        input {
                            border: 1px solid #585858;
                            height: 15px;
                            font-size: 11px;
                            margin: 10px 3px 10px 3px;
                            padding-left: 5px;
                            color:#222;
                            font-family: $quicksand;
                            font-weight:700;
                            
                            &:focus-within {
                                box-shadow: initial;
                            }

                            &:focus {
                                box-shadow: initial;
                            }
                        }
                        .and_or {
                            height: 17px;
                            line-height: 17px;
                            padding: 0 10px;
                            margin: 0px 11px;
                            margin-top: 10px;
                            display: flex;
                            background-color: #222;
                            color: #fff;
                            cursor: pointer;
                            transition: all 0.5s;
                        }
                        .and {
                            transform: rotateX(360deg);
                        }
                        .addEquation {
                            position: absolute;
                        }
                    }
                }

                @keyframes switch {
                    0% {
                        left:0;
                    }

                    50% {
                        left: 5px;
                    }

                    100% {
                        left: 0;
                    }
                }

                @keyframes flipSwitch {
                    0% {
                        right:100%;
                    }

                    20% {
                        right: 3px;
                    }

                    40% {
                        right: 20px;
                    }

                    60% {
                        right: 3px;
                    }

                    80% {
                        right: 10px;
                    }

                    100% {
                        right: 3px;
                    }
                }

                .option {
                    select {
                        display: block;
                        height: initial;
                        font-family: $grate;
                    }
                }

                .toggle {
                    display: inline-block;
                    color: #222222;
                    width: 100%;
                    position: relative;
                    padding:10px;
                    font-size: 12px;

                     select {
                        display: block;
                        height: initial;
                        font-family: $quicksand;
                        font-weight: 900;
                    }

                    span{
                        // &:nth-child(3) {
                        margin-left: 10px;
                        // }

                        .tip {
                            font-size: 12px;
                            font-family: $grate;
                            font-weight: 900;
                        }
                    }

                    .toggle_button {
                        height: initial;
                        width:15%;
                        height: 20px;
                        position: relative;
                        padding:3px;
                        border:1px solid #3a414e;
                        // box-shadow: 0px 1px 1px #3c4048;
                        background-color: #fff;
                        border-radius: 20px;
                        margin-left:5px;

                        &:hover>.switch_off {
                            animation: switch 0.7s 4;
                            animation-delay: 1s;
                        }
                    }

                    .button_clicked {
                        background-color: #3c4048;
                    }

                    .switch {
                        background-color: #3c4048;
                        height: 12px;
                        width: 12px;
                        border-radius: 100%;
                        position: absolute;
                        // left: 0%;
                        right: inherit;
                        transition: right 0.3s;
                        border:initial;

                        &:focus {
                            background-color: #ff4545;
                        }
                    }

                    .switch_on {
                        // left: initial;
                        // right: 3px;
                        background-color: #fff;
                        animation: flipSwitch 0.8s;
                        animation-fill-mode: forwards;
                        animation-timing-function: ease-out;
                        // animation-delay: 1s;
                    }
                }

                .grid-two {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .toggle_button {
                        width:40%;
                    }
                }

                .grid-four {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;

                    .toggle_button {
                        width:60%;
                    }
                }
            }
        }
    }
}

.center_button {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}