@import "reset.scss";
@import "global-variables.scss";

.openArticle {
    min-height: 100vh !important;
}

.main_container {
    @include test-borders(pink);
    width: 100%;
    position: relative;
    // min-height: 100vh;
    height: 100%;
    // background-color:#ffffff;


    .main {
        @include test-borders(blue);
        min-height: 100vh;
        // padding-bottom: 2.5rem;

        nav {
            background-color: #fff;
            color:#222;
            height:auto;
            box-shadow: initial;
            background-color: $main_background_color;

            .top_section {
                @include test-borders(red);
                position: relative;
                width: 100%;
                display: flex;
                height: 70px;
                
                &_items {
                    display: inline-block;
                    width: 100%;

                    @include test-borders(red);
                    text-align: center;
                    
                    line-height: 70px;
                    height: 80px;
                }
                
                .logo_container {
                    @include test-borders(blue);
                    // line-height: 100px;
                    position: relative;
                    // border-right:1px solid $nav_lines;
                    display: inline-block;
                    height: 100%;
                    padding:0 100px;

                    .logo {
                        display: inline-block;
                        height: 36px;
                        line-height: 36px;
                        padding: 0 16px;
                        vertical-align: middle;
                        
                        h2 {
                            color: white;
                        }
                    }
                }

                .connect {
                    @include test-borders(green);
                    margin-right:50px;
                    
                    .socials {
                        // height: 100%;
                        @include test-borders(black);
                        // margin-right:20px;
                        // display: flex;

                        .social_icons {
                            @include test-borders(red);
                            // text-align: right;
                        }
                        .social_icon {
                            display: inline-block;
                            margin:auto 10px;
                            @include test-borders(black);
                            
                            .fa-twitter {
                                // border: 1px solid #00aced;
                                // color:#00aced;
                            }

                            .fa-linkedin {
                                // border: 1px solid #0077B5;
                                // color:#0077B5;
                            }

                            .fa-github {
                                // border: 1px solid #4078c0;
                                // color:#4078c0;
                            }

                            i {
                                display: inline;
                                border-radius: 100%;
                                padding:10px;
                                font-size: 20px;
                                cursor: pointer;
                                color: white;
                            }
                        }
                    }

                    .subscribe {
                        @include test-borders(black);
                        // line-height: 100px;
                        cursor: pointer;
                        // border-left: 1px solid $nav_lines;
                        &:hover {
                            background-color:#222;
                            h4 {
                                color:white;
                            }
                        }

                        .btn-flat {
                            height: initial;
                        }
                    }
                }
            }

            .topic_container {
                @include test-borders(pink);
                width:100%;
                display: inline-block;
                padding:20px 10px;
                text-align: center;
                // border-bottom: 1px solid $nav_lines;

                .topic_button {
                    .btn-flat {
                        height: initial;

                        i {
                            font-size: 15px;
                            margin:auto 3px;
                        }
                    }
                }
            }
        }

        .main_body_container {
            text-align: center;

            .hero {
                min-height: 800px;
                @include test-borders(blue);
                background-color:$main_background_color;

                .featured_post {
                    @include test-borders(red);
                    height: 600px;
                    width:60%;
                    margin:0 auto;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    position: relative;
                    max-width: 100%;
                    padding: 35px 35px 35px;

                    @include screen-size(small) {
                        width: 90%;
                        display: block;
                        padding: 20px 20px 20px;
                    }

                    header {
                        display: block;
                    }

                    &_info {
                        display: inline-block;
                        @include test-borders(black);
                        width:50%;
                        position: absolute;
                        left:50px;
                        text-align: left;
                        z-index: 9999;

                        @include screen-size(small) {
                            position: relative;
                            display: block;
                            width: 100%;
                            left: initial;
                            text-align: left;
                        }

                        @include screen-size(kindasmall) {
                            position: relative;
                            display: block;
                            width: 80%;
                        }

                        @include screen-size(medium) {
                            position: relative;
                            display: block;
                            width: 80%;
                        }

                        &_title {
                            word-break: break-word;
                            // font-size: 26px;
                            font-family: "Noto Serif", Georgia, serif;
                            font-weight: 700;
                            letter-spacing: 0px;
                            line-height: 1.2;
                            text-transform: none;
                            border:1px solid transparent;
                            margin-bottom:20px;
                            color:white;

                            @include screen-size(small) {
                                position: relative;
                                display: block;
                            }
                        }

                        &_description {
                            // word-break: break-word;
                            p {
                                font-weight: 400;
                                color:white;
                            }
                        }
                    }

                    &_image {
                        display: block;
                        @include test-borders(green);
                        width:600px;
                        height:100%;
                        float:right;
                        // background-image: url(https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color:#6994a3;

                        @include screen-size(small) {
                            position: relative;
                            display: block;
                            float: initial;

                            margin:auto;
                            width:100%;
                            height: 400px;
                            margin-bottom:30px;
                        }
                    }

                }

                .featured_post_arrow {
                    display: block;
                    width:60%;
                    margin:0 auto;
                    position: relative;
                    padding: 35px 35px 35px;
                    text-align: left;
                    margin-top:10px;

                    @include screen-size(small) {
                        width: 93%;
                        display: block;
                        padding: 20px 20px 20px;
                        margin-top:30px;
                        text-align: right;
                    }

                    i {
                        margin: auto 10px;
                        border:1px solid white;
                        padding:15px 25px;
                        cursor: pointer;
                        transition: background-color 0.5s;
                        color:white;

                        &:hover {
                            background-color:white;
                            color:$main_background_color;
                        }
                    }
                }

                .recent_post {
                    width:65%;
                    margin:0 auto;
                    text-align: center;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-column-gap: 30px;
                    grid-row-gap: 30px;
                    margin-top:70px;

                    @include screen-size(small) {
                        display: block;
                        width: 80%;
                    }

                    @include screen-size(kindasmall) {
                        display: block;
                    }

                    @include screen-size(medium) {
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 20px;
                        grid-row-gap: 20px;
                    }
                    .my_post {
                        height: 500px;
                        box-shadow: initial;
                        display: grid;
                        grid-template-rows: 2fr 0.8fr;
                        margin-bottom: 50px;
                        // border: 1px solid $nav_lines;
                        
                        @include screen-size(small) {
                            height: 600px;
                        }

                        .image_container {
                            // height: 70%;
                            background-color: #84929e;
                            cursor: pointer;
                        }

                        .post_info {
                            // height: 30%;

                            .post_blurb {
                                // background-color: #222;
                                // border-top: 1px solid $nav_lines_shade1;
                                // border-bottom: 1px solid $nav_lines_shade1;
                                padding:20px 0;
                                // height: 50%;
                                text-align: center;
                                cursor: pointer;
                                .blurb {
                                    @include test-borders(red);
                                    width:100%;
                                    text-align: justify;
                                    margin: auto;

                                    h2 {
                                        font-family: $grate;
                                        font-weight: 900;
                                        color:white;
                                    }

                                    .post_meta {
                                        display: flex;
                                        .metas {
                                            @include test-borders(blue);
                                            display: inline-block;
                                            width: auto;
                                            text-align: left;
                                            margin-left:20px;

                                            .actions {
                                                display: inline-block;
                                                text-align: left;

                                                .action {
                                                    width: auto;
                                                    display: inline-block;
                                                    margin: auto 10px;

                                                    i {
                                                        color: white;
                                                    }

                                                    span {
                                                        margin-left: 10px;
                                                        font-family: $quicksand;
                                                        color:white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .main_body {
                display: inline-block;
                width:60%;

                @include screen-size(small) {
                    width:90%;
                }

                @include screen-size(kindasmall) {
                    width:90%;
                }

                @include screen-size(medium) {
                    width:85%;
                }
                .my_post_container {
                    text-align: center;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 30px;
                    grid-row-gap: 30px;
                    margin-top:100px;

                    @include screen-size(small) {
                        display: block;
                    }

                    @include screen-size(kindasmall) {
                        display: block;
                    }

                    @include screen-size(medium) {
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 20px;
                        grid-row-gap: 20px;
                    }

                    .my_post {
                        min-height: 600px;
                        box-shadow: initial;
                        display: grid;
                        grid-template-rows: 2fr 0.8fr;
                        margin-bottom: 50px;
                        // border: 1px solid $nav_lines;
                        
                        @include screen-size(small) {
                            min-height: 600px;
                        }

                        .image_container {
                            background-color: #84929e;
                            cursor: pointer;
                        }

                        .post_info {
                            // height: 30%;

                            .post_blurb {
                                // background-color: #222;
                                // border-top: 1px solid $nav_lines_shade1;
                                // border-bottom: 1px solid $nav_lines_shade1;
                                padding:20px 0;
                                // height: 50%;
                                text-align: center;
                                .blurb {
                                    width:100%;
                                    text-align: justify;
                                    margin: auto;
                                    cursor: pointer;

                                    h2 {
                                        font-family: $grate;
                                        font-weight: 900;
                                    }
                                }
                            }
                        }

                        .post_meta {
                            // padding: 10px 0;
                            display: flex;
                            .metas {
                                @include test-borders(blue);
                                display: inline-block;
                                width:auto;
                                text-align: left;

                                .meta {
                                    display: inline-block;
                                    margin-left: 20px;
                                }

                                .actions {
                                    display: inline-block;
                                    text-align: right;

                                    .action {
                                        width: auto;
                                        display: inline-block;
                                        margin: auto 10px;

                                        i {
                                            color: #222;
                                        }

                                        span {
                                            margin-left: 10px;
                                            font-family: $quicksand;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        footer {
            margin-top:200px;
            min-height: 100vh;
            display: grid;
            background-color: $main_background_color;

            .footer_container {
                @include test-borders(red);
                width:70%;
                margin:auto;
                // margin-top:100px;
                // padding:30px;
                display: inline-block;

                @include screen-size(small) {
                    width: 100%;
                }

                .tab {
                    // border:1px solid #222;
                    text-align: center;
                    display: inline-block;

                    // &::nth-child(4) {
                    //     border
                    // }
                }

                .social {
                    @include test-borders(red);
                    display: block;
                    // display: inline-block;
                    // height: auto;
                    .socials {
                        // height: 100%;
                        @include test-borders(blue);
                        // margin-right: 20px;
                        width:60%;
                        margin:auto;
                        // margin-top:5px;
                        // display: inline-block;

                        .social_icons {
                            @include test-borders(red);
                            // text-align: left;
                        }

                        .social_icon {
                            display: inline-block;
                            margin: auto 10px;
                            @include test-borders(black);

                            .fa-twitter {
                                // border: 1px solid #00aced;
                                // color: #00aced;
                            }

                            .fa-linkedin {
                                // border: 1px solid #0077B5;
                                // color: #0077B5;
                            }

                            .fa-github {
                                // border: 1px solid #4078c0;
                                // color: #4078c0;
                            }

                            i {
                                display: inline;
                                border-radius: 100%;
                                // padding: 10px;
                                font-size: 25px;
                                cursor: pointer;
                                color: white;
                            }
                        }
                    }
                }

                .quote {
                    h3 {
                        margin:auto;
                        font-weight: 600;
                        font-family: $grate;
                    }
                }

                .newsletter {
                    display: block;
                    .item {
                        display: inline-block;
                        margin:auto;
                        width:100%;

                        form {
                            .input-field {

                                input {
                                    border:1px solid $nav_lines_shade3;
                                    padding-left:10px;
                                    display: inline-block;
                                    width: 300px;
                                    background-color:#292e35;
                                    color:white;
                                    &:focus {
                                        border-bottom: initial;
                                    }

                                    @include screen-size(small) {
                                        width: 50%
                                    }
                                }
                                button {
                                    display: inline-block;
                                    border: 1px solid #fff;
                                    color: #222;
                                    font-weight: 900;
                                    height: 50px;
                                    font-size: 16px;
                                    line-height: 1.15;
                                    margin-bottom: 5px;
                                    margin-left: 0px;
                                    color:white;

                                    &:hover {
                                        background-color: #222;
                                        // color: $nav_lines_shade1;
                                        font-weight: 100;
                                    }
                                }
                            }
                        }
                    }
                }

                .contact {
                    @include test-borders(red);
                    display: block;
                    margin-bottom:50px;
                    .contact_info {
                        @include test-borders(blue);
                        display: inline-block;
                        width:60%;
                        margin:auto;

                        h3 {
                            font-weight: 600;
                            font-family: $grate;
                            margin:10px;
                            color:white;
                        }

                        p {
                            color:white;
                        }
                    }
                }

                .copy {
                    position: absolute;
                    bottom:20px;
                    left:20px;
                }
            }
        }
    }
}